<template name="register">

  <div class="bg-primary col-lg-6">
  <div class="text-center wrapper">
    <div class="m-t-xl m-b-xl">
      <div class="text-uc h1 font-bold inline">
        <div class="pull-left m-r-sm text-white">Job Seeker <span class="font-thin text-muted">sign up</span></div>
      </div>
      <div class="h4 text-muted m-t-sm">
      If you are looking for a freelance job, click the button below to register yourself as a job-seeker.
      </div>
    </div>
    <p class="text-center m-b-xl">
      <a href="{{pathFor 'register-seeker'}}" class="btn btn-lg btn-dark m-sm">Register now</a>
    </p>
  </div>
  </div>

  <div class="bg-info col-lg-6">
  <div class="text-center wrapper">
    <div class="m-t-xl m-b-xl">
      <div class="text-uc h1 font-bold inline">
        <div class="pull-left m-r-sm text-white">Job Provider <span class="font-thin text-muted">sign up</span></div>
      </div>
      <div class="h4 text-muted m-t-sm">
      If you or your organization has some job to provide to our job seekers, register with us by clicking the button below.
      </div>
    </div>
    <p class="text-center m-b-xl">
      <a href="{{pathFor 'register-provider'}}"  class="btn btn-lg btn-dark m-sm">Register now</a>
    </p>
  </div>
  </div>

</template>