<template name="listTeams">
            <header class="header bg-white b-b b-light">
              <p><i class="fa fa-list"></i> Teams</p>
            </header>
            <section class="scrollable wrapper">          
              <div class="row">
                <div class="col-lg-12">
                <div class="col-lg-6">
                  <h2>Teams List
                    <span class="btn-group pull-right">
                      <a class="btn btn-sm btn-dark btn-icon" title="New Task" href="{{pathFor 'new-task'}}"><i class="fa fa-plus"></i></a>
                      <a class="btn btn-sm btn-primary "  href="{{pathFor 'new-team'}}">
                          New Team
                      </a>
                    </span>
                  </h2>
                </div>
                </div>
                <div class="col-lg-6">
                  <section class="panel panel-default">
                    <div class="panel-body">

                    </div>
                  </section>
                </div>
                <div class="col-lg-6">
                  <section class="panel panel-default">
                    <div class="panel-body">col-lg-6</div>
                  </section>
                </div>
                </div>
            </section>
</template>